[submodule "source/jamoma2"]
	path = source/jamoma2
	url = https://github.com/jamoma/jamoma2.git
[submodule "source/max-sdk-base"]
	path = source/max-sdk-base
	url = https://github.com/Cycling74/max-sdk-base.git
